.player-name {
    font-weight: bold;
}

.player-info {
    list-style: none;
    font-size: 20px;
    margin-bottom: 40px;
}

.player-info li {
        margin: 10px 0;
        margin-left: -40px;
}

.player-info li span {
    font-weight: bold;
}

.profpic {
    height: auto;
    width: auto;
    max-width: 600px;
}
