{{define "title"}}A templated page{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Alex Caulfield</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> Raf-B</li>
                    <li><span>Year:</span> Sophomore</li>
                    <li><span>Hometown:</span> Needham, MA</li>
                    <li><span class="teams">Past Teams:</span> Bruises</li>
                </ul>
                <p>Alex “Raf-B” Caulfield came to Tufts with one objective: to be almost as good as Tyler Chan. Alex had followed in Tyler’s footsteps since the beginning of time itself. He attended the same high school, swipes right on the same tinder girls, and does the same ab workouts as Señor Chan (though he can only do one set less).</p>
                <p>Raf-B discovered the Emen when he was going on his biweekly stroll across campus. On this particular journey Alex spotted his beloved Tyler walking with a larger version of him. “Is Tyler cheating on me?”, he thought to himself. Alex decided to follow Tyler and this mysterious friend to the majestic Fletcher field. There he witnessed the most glorious sight he had ever seen. He momentarily forgot about Tyler and became mesmerized by the handsome men throwing around a gleaming white piece of plastic. Alex crawled down from the tree he was watching from and asked if he could learn how to become as cool as these people. The team taught him a few basics, but Alex was not satisfied with just the basics. He spent a week straight gorfing, missing sleep to play the course an astounding 9,784 times in a row. He was able the impress the team with his rolling shots so much that he made the team as a defensive handler.</p>
                <p>Alex enjoys Wii Golf in his free time.</p>
                <p></p>
                <p></p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/alex.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
