{{define "title"}}Ben Wittenberg{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Ben Wittenberg</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> Young Ben</li>
                    <li><span>Year:</span> Sophomore</li>
                    <li><span>Hometown:</span> Sudbury, MA</li>
                    <li><span class="teams">Past Teams:</span> Big Wrench, Taco Wagon</li>
                </ul>
                <p>Benjamin Skach Francis Orr Goldbaum Teller Wittenberg entered the world screaming, “HEYYEYAAEYAAAEYAEYAA”. Growing up in the raucous suburb of Sudbury, Massachusetts, he soon realized his affinity for Super Smash, with skills unparalleled to future acquaintances Walton, Toast, and Pooge. Eager to improve his muscle structure after sitting in his basement for 6 years playing Mario Kart on his N64, he signed up for a membership at a local Work-Out-World, but soon after saw that he was the only person in the gym, and promptly left.</p>
                <p>As he entered high school, Wittendude was recruited onto the US Men’s whistling team, where he helped the team come in 4th place at nationals out of two teams. However, when he arrived in Somerville, he soon discovered a love for flinging the biscuit, and attempted to make a connection with the local Youth.</p>
                <p>In an amazing occurrence, Benjamin discovered his long lost twin, who had been separated from him at birth and raised in Saskatchewan, only to beat him to enroll Tufts by a full calendar year (likely because he skipped 4th grade after proving to his teacher that 3 sheep were worth more than 2 wood). Benjamin was instantly baptized as “Yung Ben” and set free as a new member of the Emen. Hopefully his membership to W.O.W. is still valid so he can prepare for his new frisbee flangin’ endeavors (and find his “silver drawstring bag” with his “phone, wallet, and keys” in it).</p>
                <p></p>
                <p></p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/ben.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
