{{define "title"}}Bryce Walsh{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Bryce Walsh</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Year:</span> Freshman</li>
                    <li><span>Hometown:</span> Seattle, WA</li>
                    <li><span class="teams">Past Teams:</span> DISCNW</li>
                </ul>
                <p>Bryce "El Chapo" Walsh heralds from Seattle, Washington where it perpetually rains and the sun never shines. Some speculate due to the fact that Bryce has never seen the sun before that he is a vampire, but he proved his critics wrong by going to school in the beautiful Medford/Somerville area.  His critics still ask that he impale himself with a wooden stake but he has yet to comment on that.</p>
                <p>One can easily find Bryce camped out in either of the two dining halls at Tufts at any point of the day. He literally camps out in the dining hall. His sleeping bag is on the floor; his showering things are well organized; his entire wardrobe (which consists of a seattle fryz jersey, a seattle fryz pullover, a seattle fryz tank top, a pair of seattle fryz pants, a pair of seattle fryz socks, a pair of broken-ass seattle fryz converse and his lucky seattle fryz underwear) is carefully folded. It is doubtful that Bryce actually lives in a dorm because all of his belongings are at the dining hall. In his free time, he indulges in tasks like acting as the poster boy for the infamous ccchuckler IM soccer team, working on that same comp15 project he was working on two months ago, and creating and selling steam punk cosplay.</p>
                <p>The legends say Bryce has been playing the wonderful sport of ultimate frisbee since the fourth grade, back when his hair was long, blond, and flowing. In those years, Bryce was a superstar in the U13 Girls division. Fortunately, Tufts now has the pleasure of him throwing dimeballs, laying out huge and being an all around great teammate for the Emen.</p>
                <p></p>
                <p></p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/bryce.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
