{{define "title"}}Eamon Wick{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Eamon Wick</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> AY MON’</li>
                    <li><span>Year:</span> Senior</li>
                    <li><span>Hometown:</span> North Hampton, MA</li>
                    <li class="teams"><span>Past Teams: </span>CMEN</li>
                </ul>
                <p>Eamon is like a snowflake, he is unique. If he left home in Northampton at 50 miles per hour and a train leaves Philadelphia at 85 miles per hour, how many toads fit in the train? And who is the driver of the train? (Drive her? I barely know her) But the answer: 69,420 toads, and a snowflake is driving the train. After quickly checking Hobo Wars on Facebook (apparently the predecessor of mafia wars), Eamon headed over to the resquad ready to show his frisbee skills. Despite his talent, Eamon was unnoticed by the A and B teams because they were confused about why he was wearing jeggings as compression shorts. Nevertheless, Eamon continued to match up with the largest of opponents and lose his voice every tournament truly earning his place with the E-men.</p>
                <p>You'll see him today continuously being banned from words by his fellow Trog Closet residents, but generally ignoring (General ignore *salute*) the haters. He guards to door to Chill Ass Bros asking freshmen if they know a brother that lives there, a toad that lives there, and the lyrics to Bad Girls. Sign up for his newest Ex-College Class "Toads, Nature's Snowflake: Natures Toadflake" which tries to answer the question: Are there more toads or people in the world?</p>
                <p></p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/eamon.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
