{{define "title"}}Jack Spiva{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Jack Spiva</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> Sweet Tea</li>
                    <li><span>Year:</span> Junior</li>
                    <li><span>Hometown:</span> Nashville, TN</li>
                    <li class="teams"><span>Past Teams: </span>  Big Wrench, Tanasi</li>
                </ul>
                <p>Jack Spiva was born in Tennessee. In his youth, he hiked across the Smoky Mountains with only beef jerky to sustain him. As he grew, he became tougher, huskier, and so he earned the title “Sweet Tea.” His hardo soul may contradict his mild manner and nickname, but don’t let that fool you; this playful little pup will make you look silly on the field.  He’ll charm you with his cute smiles and the best play dates you ever had, and then break your ankles publically. That’s embarrassing. Jack earns the title “Master Chef” every game because of the guys like you he roasts on the field.</p>
                <p>Jack hates jellyfish (outside of tanks). Jack loves Scooby-Doo Fruit Flavored Snacks. Jack hates the garbage trucks outside of his window every morning in Bush Hall. Jack loves phone games. He’s probably got the most dexterous thumbs in the ‘CAC at this point. Jack hates being tickled. Don’t tickle him. Don’t mess with Jack. The Emen have all said outright that they will shank anyone who messes with Jack. Plus, why would you want to?</p>
                <p>If the history books tell us one thing, it’s that if you’re ever unsatisfied by the lovable-ness of your man, meet Sweet Tea.</p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/jack.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
