{{define "title"}}A templated page{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Jacob Marsh</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> Jam</li>
                    <li><span>Year:</span> Sophomore</li>
                    <li><span>Hometown:</span> Pittsford, NY</li>
                    <li><span class="teams">Past Teams:</span> BMEN</li>
                </ul>
                <p></p>
                <p></p>
                <p></p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/jacob.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
