{{define "title"}}A templated page{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Morgan Gellert</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> The Wizard</li>
                    <li><span>Year:</span> Junior</li>
                    <li><span>Hometown:</span> Seattle, WA</li>
                    <li><span class="teams">Past Teams:</span> BMEN, Ghost Train</li>
                </ul>
                <p>While the famed Morgan Gellert is known by many names, only one can fully depict his many capabilities as a warlock, leader of men, historical demagogue, and Tufts scholar: Spellcaster.</p>
                <p>Master Gellert was born on the crest of Mount Kilimanjaro in eastern Washington state, and from an early age it was clear that he was not like his peers. While his infantile friends were eating baby carrots from tupperwares, Master Gellert began to realize his ability to levitate, summon, and ball. After receiving an owl letter to the famed Hogwarts school Master Gellert moved from his beloved Pacific Northwest to the highlands of northern Scotland.</p>
                <p> However Master Gellert soon ran across trouble. The wizarding hat whispered to Master Gellert told him that non-British students did not belong at Hogwarts, and as a result was initiated into the notoriously unimportant house Ravenclaw. As the only student who lived west of the Line of Demarcation (as defined by Pope Alexander VI in 1493), Master Gellert became ostracized and alone. He decided after one year that Hogwarts was not home and thusly left.</p>
                <p>After returning to America, he spent ten years as Bobby Shmurda’s mentor before receiving his acceptance to Tufts university. Unlike his experience at Hogwarts, Master Gellert felt immediately at home, and to this day is a leader at the wizarding fraternity: Zeta Beta Tau (unfortunately not called Zeta Beta Theta).</p>
                <p>One day, as Master Gellert was walking along, he saw an extremely handsome group of men slanging the biscuit and decided to join. With his wizarding prowess, Master Gellert casted delicious backhand and flick hucks and impressed the handsome group of men. The rest is history.</p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/morgan.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
