{{define "title"}}A templated page{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Nick Roberts</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> Nicky Baseball</li>
                    <li><span>Year:</span> Junior</li>
                    <li><span>Hometown:</span> Newton, MA</li>
                    <li><span class="teams">Past Teams:</span> Garuda, Santiago Revolucion</li>
                </ul>
                <p>Nicolas “Newkid” “Nicky-Baseball” Roberts was born a young hippy in Eugene, Oregon. He began developing his super-fast cat-like reflexes well before his ultimate career catching ground balls from his dad, Chris. Nick never let a baseball get by him, but he needed a sport with a little more action. Thus, he aggressively began dominating the ultimate frisbee community in 6th grade, give or take a year, in the Evergreen state. He continued to make fools of his opponents playing for Newton North high school when he moved before his high school career. Since then, he has had an extremely successful freshman year handling on the E-men’s Defensive Line.</p>
                <p>Outside of ultimate Frisbee, Nick is still a large fan of sports. He’ll fight you if you call him a front-runner, but he just so happens to associate himself with the best professional sports teams in the world. He’s a fan of Seattle’s Seahawks, Boston’s Red Sox and Oklahoma City’s Thunder (because they "used to be in Seattle"). If he’s got free time without a disc, it’s most likely that he’s in the library with his hands full of coffee, or enjoying the company of his friends (specifically Jinhyun and his other suitemates).</p>
                <p></p>
                <p></p>
                <p></p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/nick.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
