{{define "title"}}A templated page{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Owen Martin</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> Smaug</li>
                    <li><span>Year:</span> Junior</li>
                    <li><span>Hometown:</span> Louisville, CO</li>
                    <li class="teams"><span>Past Teams: </span>  Inception, BMEN</li>
                </ul>
                <p>Tolkien didn’t cover much of this in his books, but since the dawn of the Third Age, this fire drake, known as Smaug, Smoag, or (less commonly) Owen, has been a fan of Ultimate. Local legend tells of the day Smaug learned to fly, leaving his hometown in the Rockies to go play some Ultimate with his dwarven buddies over at Erebor, the Lonely Mountain. Unfortunately, this was also the day Smaug developed fire-breathing abilities, and the results were disastrous for the dwarves. Smaug was so saddened by this accident that he grieved under the mountain for 150 years, which was almost enough time to perfect his upwind flick huck.</p>
                <p>Some say Smaug can still be seen prowling around the mountains of the Northeast U.S. with the Tufts Wilderness Organization. At times, his roar may even be heard over the hustle and bustle of the Tufts University campus, where he lives a secret double life as sophomore Computer Science and Math major Owen Martin. (It’s no coincidence that the letters in “Owen Martin; Louisville, Colorado; Tufts University” can be rearranged to form “Lonely Mountain’s swift, victorious, ultra-evildoer”.) More recently, Smaug has shown his love for the spotlight, starring in the latest unnecessarily long blockbuster movie trilogy and making a special guest appearance on the Colbert Report.</p>
                <p>You might think his enormous claws would make it hard to hold the disc properly, but this dragon is a top tier handler who will—and we are legally obligated to emphasize this—LITERALLY burn defenders deep with his well-timed hucks (and fire breath). Smaug hopes to lead the EMEN to victory under his famous battlecry: “I AM FIRE. I AM DEATH. LAKE-TOWN IS LESS GOOD! WRAHHHHHHHH”</p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/owen.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
