{{define "title"}}Walton Lee{{end}} {{define "body"}}
<link rel="stylesheet" href="/static/css/roster.css">

<section class="bg-primary" id="about">
    <div class="container">

        <h1 class="player-name">Walton Lee</h1>

        <div class="row">

            <div class="col-md-6">
                <ul class="player-info">
                    <li><span>Nickname:</span> Pond</li>
                    <li><span>Year:</span> Senior</li>
                    <li><span>Hometown:</span> Hong Kong</li>
                    <li class="teams"><span>Past Teams: </span>  BMEN, Jail</li>
                </ul>
                <p></p>
                <p></p>

            </div>
            <div class="col-md-6">
                <img class="profpic" src="/static/img/roster/profpics/walton.jpg" alt="team huddle">

            </div>
        </div>

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
