{{define "title"}}A templated page{{end}} {{define "body"}}

<section class="bg-primary" id="about">
    <div class="container">

            <div class="row">


                <div class="col-md-6">
                    <img src="/static/img/huddlepic.jpeg" alt="team huddle">

                </div>
                <div class="col-md-6">
                    <p>The Tufts E-Men are a highly competitive college ultimate frisbee club founded in 1972. In addition to reaching the collegiate regional semi-finals and finals time and time again over that period, Tufts qualified for and played in
                        the first ever Ultimate Frisbee College Nationals, in 1984. This inaugural tournament was held, organized, and run by Tufts.</p>
                    <p>Building on this great tradition, since 2009, the E-Men have appeared in 4 of the last 6 college Nationals. In 2012 the team matched our 2002 peak with a trip to the quarterfinals and a 5th place finish at this prestigious, country-wide
                        tournament
                    </p>
                    <p>As a perennial power in the New England region, we have enjoyed success at both the regional and national level. We compete in the open division of USA Ultimate’s college sector. Despite our school’s size we compete alongside traditionally
                        Division 1 schools and we are proud to represent Tufts University on this elevated stage.</p>
                    <p>The students that make up our program come from diverse backgrounds and represent many different aspects of the Tufts community. We dedicate ourselves to both the competitive spirit and the dignified respect of the sport of ultimate
                        frisbee. Off the field we hope to model the hard work, diplomacy and passion that Tufts Ultimate breeds.</p>
                    <p>Pax et Frisbus.</p>
                </div>
            </div>

    </div>
</section>





{{end}}
