{{define "title"}}Tufts BMEN{{end}} {{define "body"}}

<section class="bg-primary" id="about">
    <div class="container">

        <img id="bmen" src="/static/img/bmen.jpg" alt="tufts b-men">

        <div class="container">
            <h2 class="broster">2015 Roster</h2>
            <h4 class="bcaptains">
                <span class="emph">2015 Captains:</span> Nate Tenczar, Jacob Rosenberg, Matt Long
            </h4>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Height</th>
                            <th>Position</th>
                            <th>Class</th>
                            <th>Hometown</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope=row>64</th>
                            <td>Christopher "Topher" Rodrigquez</td>
                            <td>5' 6"</td>
                            <td>Cutter</td>
                            <td>
                                Senior
                            </td>
                            <td>
                                Mendham, NJ
                            </td>
                        </tr>
                        <tr>
                            <th scope=row>40</th>
                            <td>Jacob "Rosendude" Rosenberg</td>
                            <td>6' 4"</td>
                            <td>Cutter</td>
                            <td>Senior</td>
                            <td>Burlington, MA</td>
                        </tr>
                        <tr>
                            <th scope=row>81</th>
                            <td>Charles Yi</td>
                            <td>5' 6"</td>
                            <td>Cutter</td>
                            <td>Senior</td>
                            <td>Needham, MA</td>
                        </tr>
                        <tr>
                            <th scope=row>
                                28
                            </th>
                            <td>Raphael "Boofi" Parens</td>
                            <td>5' 11"</td>
                            <td>Cutter</td>
                            <td>senior</td>
                            <td>Dallas, TX</td>
                        </tr>
                        <tr>
                            <th scope=row>
                                93
                            </th>
                            <td>Cornell "Corny" Wilson</td>
                            <td>5' 8"</td>
                            <td>Cutter</td>
                            <td>Senior</td>
                            <td>Glen Ridge, NJ</td>
                        </tr>
                        <tr>
                            <th scope=row>
                                6
                            </th>
                            <td>Nate "Noodles" Tenczar</td>
                            <td>5' 11"</td>
                            <td>Handler</td>
                            <td>Senior</td>
                            <td>Lowell, MA</td>
                        </tr>
                        <!-- JUNIORS -->
                        <tr>
                            <td>50</td>
                            <td>Christopher "Django" Shultz</td>
                            <td>5' 11"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Bend, OR</td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>Jon "Frozone" Atkins</td>
                            <td>6'</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Washington, DC</td>
                        </tr>
                        <tr>
                            <td>91</td>
                            <td>Martin "MVM" van Mierlo</td>
                            <td>5' 9"</td>
                            <td>Handler</td>
                            <td>Junior</td>
                            <td>Lexington, MA</td>
                        </tr>
                        <tr>
                            <td>77</td>
                            <td>Walton "Walton!" Lee</td>
                            <td>5' 9"</td>
                            <td>Handler</td>
                            <td>Junior</td>
                            <td>Hong Kong, China</td>
                        </tr>
                        <tr>
                            <td>87</td>
                            <td>Troy "T-Bone" Harrington-Woodard</td>
                            <td>5' 9"</td>
                            <td>Handler</td>
                            <td>Junior</td>
                            <td>Northfield, MA</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>Jesse "Yung Sausage" Gershman</td>
                            <td>5' 10"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Boulder, CO</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>Matt "Schlong" Long</td>
                            <td>5' 9"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Ramsey, NJ</td>
                        </tr>
                        <tr>
                            <td>57</td>
                            <td>Torsten Johnson</td>
                            <td>6' 4"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Northampton, MA</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>Ian "Bangs" Gray</td>
                            <td>6' 4"</td>
                            <td>Handler</td>
                            <td>Junior</td>
                            <td>Larchmont, NJ</td>
                        </tr>
                        <tr>
                            <td>74</td>
                            <td>Marc "Bugatti" Bucchieri</td>
                            <td>5' 10"</td>
                            <td>Handler</td>
                            <td>Junior</td>
                            <td>Wakefield, MA</td>
                        </tr>
                        <tr>
                            <td>54</td>
                            <td>Jacob "Remy" Barr</td>
                            <td>6' 2"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Ramsey, NJ</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Sean Deneen</td>
                            <td>6' 2"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Avon, CT</td>
                        </tr>
                        <tr>
                            <td>88</td>
                            <td>Danny Garfield</td>
                            <td>5' 11"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Wynnewood, PA</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Jem "Rugged Gem" Wilner</td>
                            <td>5' 9"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Putney, VT</td>
                        </tr>
                        <tr>
                            <td>53</td>
                            <td>Sawyer McLaughlin</td>
                            <td>6' 2"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Middlebury, VT</td>
                        </tr>
                        <tr>
                            <td>84</td>
                            <td>Eyob "Upton" Sharew</td>
                            <td>5' 9"</td>
                            <td>Cutter</td>
                            <td>Junior</td>
                            <td>Denver, CO</td>
                        </tr>
                        <!-- SOPHOMORES -->
                        <tr>
                            <td>65</td>
                            <td>David "Farquaad" Kheyman</td>
                            <td>5' 8"</td>
                            <td>Handler</td>
                            <td>Sophomore</td>
                            <td>Brooklyn, NY</td>
                        </tr>
                        <tr>
                            <td>48</td>
                            <td>Ben Skach</td>
                            <td>6'</td>
                            <td>Cutter</td>
                            <td>Sophomore</td>
                            <td>Portland, OR</td>
                        </tr>
                        <tr>
                            <td>97</td>
                            <td>Max Goder-Reiser</td>
                            <td>6'</td>
                            <td>Cutter</td>
                            <td>Sophomore</td>
                            <td>Dayton, OH</td>
                        </tr>
                        <tr>
                            <td>62</td>
                            <td>Zachary Flicker</td>
                            <td>5' 11"</td>
                            <td>Handler</td>
                            <td>Sophomore</td>
                            <td>Ridgewood, NJ</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Will "Slow Loris" Norris</td>
                            <td>5' 11"</td>
                            <td>Handler</td>
                            <td>Sophomore</td>
                            <td>Northampton, MA</td>
                        </tr>
                        <tr>
                            <td>88</td>
                            <td>David Stack</td>
                            <td>6' 2"</td>
                            <td>Cutter</td>
                            <td>Sophomore</td>
                            <td>Rochester, NY</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Alex "Ajax" Jackson</td>
                            <td>6'</td>
                            <td>Cutter</td>
                            <td>Sophomore</td>
                            <td>New Canaan, CT</td>
                        </tr>
                        <tr>
                            <td>95</td>
                            <td>James McCants</td>
                            <td>5' 9"</td>
                            <td>Cutter</td>
                            <td>Sophomore</td>
                            <td>Belmont, MA</td>
                        </tr>
                        <tr>
                            <td>42</td>
                            <td>Benjamin Teller</td>
                            <td>6'</td>
                            <td>Cutter</td>
                            <td>Sophomore</td>
                            <td>Bolton, CT</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer style="margin: 50px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
