{{define "title"}}Contact{{end}} {{define "body"}}

<section class="bg-primary" id="about">
    <div class="container">

<h4>Interested in joining the team or contacting the captains regarding tournaments?</h4>
<br />
<h4>Email: tuftsemencaptains@gmail.com</h4>
<br />
<br />
<img src="/static/img/contactpic.jpeg" alt="emen huddle">

        <footer style="margin: 100px 0;">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
</section>





{{end}}
