{{define "title"}}A templated page{{end}} {{define "body"}}

<link href="/static/css/thumbnail-gallery.css" rel="stylesheet">
<section class="bg-primary" id="about">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">
                        <a class="thumbnail dylan" href="#">
                        </a>
                        <a class="picname" href="#">Dylan Gully</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail nick" href="#">
                        </a>
                        <a class="picname" href="#">Nick Roberts</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail skyler" href="#">
                        </a>
                        <a class="picname" href="#">Skyler Tom</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail eamon" href="#">
                        </a>
                        <a class="picname" href="#">Eamon Wick</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail walton" href="#">
                        </a>
                        <a class="picname" href="#">Walton Lee</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail torsten" href="#">
                        </a>
                        <a class="picname" href="#">Torsten Johnson</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail jack" href="#">
                        </a>
                        <a class="picname" href="#">Jack Spiva</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail owen" href="#">
                        </a>
                        <a class="picname" href="#">Owen Martin</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail kg" href="#">
                        </a>
                        <a class="picname" href="#">Kevin O'Brien</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail morgan" href="#">
                        </a>
                        <a class="picname" href="#">Morgan Gellert</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail ben" href="#">
                        </a>
                        <a class="picname" href="#">Ben Wittenberg</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail alex" href="#">
                        </a>
                        <a class="picname" href="#">Alex Caulfield</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail tommy" href="#">
                        </a>
                        <a class="picname" href="#">Tommy Gartman</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail produce" href="#">
                        </a>
                        <a class="picname" href="#">Daniel Weinstein</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail dillard" href="#">
                        </a>
                        <a class="picname" href="#">Michael Dillard</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail oliver" href="#">
                        </a>
                        <a class="picname" href="#">Oliver Newland</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail addison" href="#">
                        </a>
                        <a class="picname" href="#">Addison Hanson</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail cones" href="#">
                        </a>
                        <a class="picname" href="#">William Simon</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail jam" href="#">
                        </a>
                        <a class="picname" href="#">Jacob Marsh</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail bryce" href="#">
                        </a>
                        <a class="picname" href="#">Bryce Walsh</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail eric" href="#">
                        </a>
                        <a class="picname" href="#">Eric Chen</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail charlie" href="#">

                        </a>
                        <a class="picname" href="#">Charlie Caron</a>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
</section>

{{end}}
