{{define "title"}}A templated page{{end}} {{define "body"}}

<link href="/static/css/thumbnail-gallery.css" rel="stylesheet">
<section class="bg-primary" id="about">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">
                        <a class="thumbnail dylan" href="/roster/dylangully.html">
                        </a>
                        <a class="picname" href="/roster/dylangully.html">Dylan Gully</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail nick" href="/roster/nickroberts.html">
                        </a>
                        <a class="picname" href="/roster/nickroberts.html">Nick Roberts</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail skyler" href="/roster/skylertom.html">
                        </a>
                        <a class="picname" href="/roster/skylertom.html">Skyler Tom</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail eamon" href="/roster/eamonwick.html">
                        </a>
                        <a class="picname" href="/roster/eamonwick.html">Eamon Wick</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail walton" href="/roster/waltonlee.html">
                        </a>
                        <a class="picname" href="/roster/waltonlee.html">Walton Lee</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail torsten" href="/roster/torstenjohnson.html">
                        </a>
                        <a class="picname" href="/roster/torstenjohnson.html">Torsten Johnson</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail jack" href="/roster/jackspiva.html">
                        </a>
                        <a class="picname" href="/roster/jackspiva.html">Jack Spiva</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail owen" href="/roster/owenmartin.html">
                        </a>
                        <a class="picname" href="/roster/owenmartin.html">Owen Martin</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail kg" href="/roster/kevinobrien.html">
                        </a>
                        <a class="picname" href="/roster/kevinobrien.html">Kevin O'Brien</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail morgan" href="/roster/morgangellert.html">
                        </a>
                        <a class="picname" href="/roster/morgangellert.html">Morgan Gellert</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail ben" href="/roster/benwittenberg.html">
                        </a>
                        <a class="picname" href="/roster/benwittenberg.html">Ben Wittenberg</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail alex" href="/roster/alexcaulfield.html">
                        </a>
                        <a class="picname" href="/roster/alexcaulfield.html">Alex Caulfield</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail tommy" href="/roster/tommygartman.html">
                        </a>
                        <a class="picname" href="/roster/tommygartman.html">Tommy Gartman</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail produce" href="/roster/danielweinstein.html">
                        </a>
                        <a class="picname" href="/roster/danielweinstein.html">Daniel Weinstein</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail dillard" href="/roster/michaeldillard.html">
                        </a>
                        <a class="picname" href="/roster/michaeldillard.html">Michael Dillard</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail oliver" href="/roster/olivernewland.html">
                        </a>
                        <a class="picname" href="/roster/olivernewland.html">Oliver Newland</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail addison" href="/roster/addisonhanson.html">
                        </a>
                        <a class="picname" href="/roster/addisonhanson.html">Addison Hanson</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail cones" href="/roster/williamsimon.html">
                        </a>
                        <a class="picname" href="/roster/williamsimon.html">William Simon</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-2 thumb">

                        <a class="thumbnail jam" href="/roster/jacobmarsh.html">
                        </a>
                        <a class="picname" href="/roster/jacobmarsh.html">Jacob Marsh</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-3 thumb">

                        <a class="thumbnail bryce" href="/roster/brycewalsh.html">
                        </a>
                        <a class="picname" href="/roster/brycewalsh.html">Bryce Walsh</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-0 thumb">

                        <a class="thumbnail eric" href="/roster/ericchen.html">
                        </a>
                        <a class="picname" href="/roster/ericchen.html">Eric Chen</a>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 col-md-offset-1 thumb">

                        <a class="thumbnail charlie" href="/roster/charliecaron.html">

                        </a>
                        <a class="picname" href="/roster/charliecaron.html">Charlie Caron</a>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
</section>

{{end}}
